h1 {
    text-align: center;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
  }
  
  .marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
  }
  
  .cap {
    width: 60px;
    height: 25px;
  }
  
  .sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
  }
  
  .cap, .sleeve {
    display: inline-block;
  }
  
  .red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
  }
  
  .green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
  }
  
  .blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
  }

.yellow {
    background: linear-gradient(hsl(50, 100%, 20%), hsl(60, 100%, 50%), hsl(60, 100%, 80%));
    box-shadow: 0 0 20px 0 hsla(60, 100%, 40%, 0.8);
  }
  
  .purple {
    background: linear-gradient(hsl(270, 100%, 20%), hsl(300, 100%, 50%), hsl(300, 100%, 80%));
    box-shadow: 0 0 20px 0 hsla(300, 100%, 40%, 0.8);
  }
  .orange {
    background: linear-gradient(hsl(30, 100%, 20%), hsl(40, 100%, 50%), hsl(40, 100%, 80%));
    box-shadow: 0 0 20px 0 hsla(40, 100%, 40%, 0.8);
  }
  .pink {
    background: linear-gradient(hsl(330, 100%, 20%), hsl(340, 100%, 50%), hsl(340, 100%, 80%));
    box-shadow: 0 0 20px 0 hsla(340, 100%, 40%, 0.8);
  }
  .brown { 
    background: linear-gradient(hsl(30, 100%, 20%), hsl(20, 100%, 50%), hsl(20, 100%, 80%));
    box-shadow: 0 0 20px 0 hsla(20, 100%, 40%, 0.8);
  }